/* https://www.w3schools.com/Css/css_selectors.asp */
/* Smart color palette from https://colormagic.app/palette/6723509a3e9d694408a440e1 */
/* Cyberpunk Dreams color palette from https://colormagic.app/palette/6715cb90695c5016fd048856 */
#workHistory {
  margin: auto;
  background-color: #200b4b;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #workHistory h1 {
    text-align: left;
    color: #ff3d94;
    font-size: 5vw; }
  #workHistory h2 {
    text-align: left;
    color: #b5307e;
    font-size: 3vw; }
  #workHistory h3 {
    text-align: left;
    color: #6a2a98;
    font-size: 2vw; }
  #workHistory p {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #workHistory a:link {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #workHistory a:visited {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #workHistory a:hover {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #workHistory a:active {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }

#workHistory.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #ff3d94;
  background-color: #200b4b;
  font-size: 1vw; }

#education {
  margin: auto;
  background-color: #200b4b;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #education h1 {
    text-align: left;
    color: #ff3d94;
    font-size: 5vw; }
  #education h2 {
    text-align: left;
    color: #b5307e;
    font-size: 3vw; }
  #education h3 {
    text-align: left;
    color: #6a2a98;
    font-size: 2vw; }
  #education p {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #education a:link {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #education a:visited {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #education a:hover {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #education a:active {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #education ul {
    text-align: left; }
    #education ul li {
      color: #6a2a98;
      font-size: 1vw; }
  #education table {
    text-align: left;
    border-collapse: collapse;
    border-color: #6a2a98;
    border-style: solid; }
    #education table tr {
      border-color: #6a2a98; }
      #education table tr th {
        border-color: #6a2a98;
        color: #6a2a98;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #education table tr td {
        border-color: #6a2a98;
        color: #6a2a98;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }
        #education table tr td ul li {
          color: #6a2a98;
          font-size: 1vw; }

#education.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #ff3d94;
  background-color: #200b4b;
  font-size: 1vw; }

#projects {
  margin: auto;
  background-color: #200b4b;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #projects h1 {
    text-align: left;
    color: #ff3d94;
    font-size: 5vw; }
  #projects h2 {
    text-align: left;
    color: #b5307e;
    font-size: 3vw; }
  #projects h3 {
    text-align: left;
    color: #6a2a98;
    font-size: 2vw; }
  #projects p {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #projects a:link {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #projects a:visited {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #projects a:hover {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #projects a:active {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }

#projects.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #ff3d94;
  background-color: #200b4b;
  font-size: 1vw; }

#technicalSkills {
  margin: auto;
  background-color: #200b4b;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #technicalSkills h1 {
    text-align: left;
    color: #ff3d94;
    font-size: 5vw; }
  #technicalSkills h2 {
    text-align: left;
    color: #b5307e;
    font-size: 3vw; }
  #technicalSkills h3 {
    text-align: left;
    color: #6a2a98;
    font-size: 2vw; }
  #technicalSkills p {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #technicalSkills a:link {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #technicalSkills a:visited {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #technicalSkills a:hover {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #technicalSkills a:active {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #technicalSkills ul {
    text-align: left; }
    #technicalSkills ul li {
      color: #6a2a98;
      font-size: 1vw; }

#technicalSkills.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #ff3d94;
  background-color: #200b4b;
  font-size: 1vw; }

#otherSkills {
  margin: auto;
  background-color: #200b4b;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #otherSkills h1 {
    text-align: left;
    color: #ff3d94;
    font-size: 5vw; }
  #otherSkills h2 {
    text-align: left;
    color: #b5307e;
    font-size: 3vw; }
  #otherSkills h3 {
    text-align: left;
    color: #6a2a98;
    font-size: 2vw; }
  #otherSkills p {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #otherSkills a:link {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #otherSkills a:visited {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #otherSkills a:hover {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #otherSkills a:active {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #otherSkills ul {
    text-align: left; }
    #otherSkills ul li {
      color: #6a2a98;
      font-size: 1vw; }

#otherSkills.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #ff3d94;
  background-color: #200b4b;
  font-size: 1vw; }

#certifications {
  margin: auto;
  background-color: #200b4b;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #certifications h1 {
    text-align: left;
    color: #ff3d94;
    font-size: 5vw; }
  #certifications h2 {
    text-align: left;
    color: #b5307e;
    font-size: 3vw; }
  #certifications h3 {
    text-align: left;
    color: #6a2a98;
    font-size: 2vw; }
  #certifications p {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #certifications a:link {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #certifications a:visited {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #certifications a:hover {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #certifications a:active {
    text-align: left;
    color: #6a2a98;
    font-size: 1vw; }
  #certifications ul {
    text-align: left; }
    #certifications ul li {
      color: #6a2a98;
      font-size: 1vw; }

#certifications.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #ff3d94;
  background-color: #200b4b;
  font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* Calm Authority color palette from https://piktochart.com/tips/professional-color-palette */
#quantumComputing {
  margin: auto;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #quantumComputing h1 {
    text-align: left;
    color: #D5D5DB;
    font-size: 5vw; }
  #quantumComputing h2 {
    text-align: left;
    color: #AAB7B8;
    font-size: 3vw; }
  #quantumComputing h3 {
    text-align: left;
    color: #85929E;
    font-size: 2vw; }
  #quantumComputing p {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:link {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:visited {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:hover {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:active {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing ul {
    text-align: left; }
    #quantumComputing ul li {
      color: #5D6D7E;
      font-size: 1vw; }

#quantumComputing.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #D5D5DB;
  background-color: #5D6D7E;
  font-size: 1vw; }

#photography {
  margin: auto;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #photography h1 {
    text-align: left;
    color: #D5D5DB;
    font-size: 5vw; }
  #photography h2 {
    text-align: left;
    color: #AAB7B8;
    font-size: 3vw; }
  #photography h3 {
    text-align: left;
    color: #85929E;
    font-size: 2vw; }
  #photography p {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #photography a:link {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #photography a:visited {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #photography a:hover {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #photography a:active {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #photography ul {
    text-align: left; }
    #photography ul li {
      color: #5D6D7E;
      font-size: 1vw; }

#photography.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #D5D5DB;
  background-color: #5D6D7E;
  font-size: 1vw; }

#dungeonsAndDragons {
  margin: auto;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #dungeonsAndDragons h1 {
    text-align: left;
    color: #D5D5DB;
    font-size: 5vw; }
  #dungeonsAndDragons h2 {
    text-align: left;
    color: #AAB7B8;
    font-size: 3vw; }
  #dungeonsAndDragons h3 {
    text-align: left;
    color: #85929E;
    font-size: 2vw; }
  #dungeonsAndDragons p {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #dungeonsAndDragons a:link {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #dungeonsAndDragons a:visited {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #dungeonsAndDragons a:hover {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #dungeonsAndDragons a:active {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #dungeonsAndDragons ul {
    text-align: left; }
    #dungeonsAndDragons ul li {
      color: #5D6D7E;
      font-size: 1vw; }

#dungeonsAndDragons.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #D5D5DB;
  background-color: #5D6D7E;
  font-size: 1vw; }

#history {
  margin: auto;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #history h1 {
    text-align: left;
    color: #D5D5DB;
    font-size: 5vw; }
  #history h2 {
    text-align: left;
    color: #AAB7B8;
    font-size: 3vw; }
  #history h3 {
    text-align: left;
    color: #85929E;
    font-size: 2vw; }
  #history p {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #history blockquote {
    text-align: left;
    color: #5D6D7E;
    font-size: 1.5vw; }
  #history a:link {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #history a:visited {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #history a:hover {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #history a:active {
    text-align: left;
    color: #5D6D7E;
    font-size: 1vw; }
  #history ul {
    text-align: left; }
    #history ul li {
      color: #5D6D7E;
      font-size: 1vw; }
  #history table {
    text-align: left;
    border-collapse: collapse;
    border-color: #5D6D7E;
    border-style: solid; }
    #history table tr {
      border-color: #5D6D7E; }
      #history table tr th {
        border-color: #5D6D7E;
        color: #5D6D7E;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #history table tr td {
        border-color: #5D6D7E;
        color: #5D6D7E;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }
        #history table tr td ul li {
          color: #5D6D7E;
          font-size: 1vw; }

#history.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #D5D5DB;
  background-color: #5D6D7E;
  font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* Dark Blue Gray color palette from https://colormagic.app/palette/69014a7925c5fe1a94c39eea */
#KAN {
  margin: auto;
  background-color: #20203c;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #KAN h1 {
    text-align: left;
    font-size: 5vw;
    color: #ff5c5c; }
  #KAN h2 {
    text-align: left;
    font-size: 3vw;
    color: #c2c2d1; }
  #KAN h3 {
    text-align: left;
    font-size: 2vw;
    color: #7a7a99; }
  #KAN a:link {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #KAN a:visited {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #KAN a:hover {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #KAN a:active {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #KAN p {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #KAN ul {
    text-align: left; }
    #KAN ul li {
      font-size: 1vw;
      color: #7a7a99; }

#KAN.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #7a7a99;
  font-size: 1vw; }

#Cryptocurrency {
  margin: auto;
  background-color: #20203c;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #Cryptocurrency h1 {
    text-align: left;
    font-size: 5vw;
    color: #ff5c5c; }
  #Cryptocurrency h2 {
    text-align: left;
    font-size: 3vw;
    color: #c2c2d1; }
  #Cryptocurrency h3 {
    text-align: left;
    font-size: 2vw;
    color: #7a7a99; }
  #Cryptocurrency a:link {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #Cryptocurrency a:visited {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #Cryptocurrency a:hover {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #Cryptocurrency a:active {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #Cryptocurrency p {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #Cryptocurrency ul {
    text-align: left; }
    #Cryptocurrency ul li {
      font-size: 1vw;
      color: #7a7a99; }
  #Cryptocurrency table {
    text-align: left;
    border-collapse: collapse;
    border-color: #7a7a99;
    border-style: solid; }
    #Cryptocurrency table tr {
      border-color: #7a7a99; }
      #Cryptocurrency table tr th {
        border-color: #7a7a99;
        color: #7a7a99;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #Cryptocurrency table tr th a:link {
          font-size: 1vw;
          color: #7a7a99; }
        #Cryptocurrency table tr th a:visited {
          font-size: 1vw;
          color: #7a7a99; }
        #Cryptocurrency table tr th a:hover {
          font-size: 1vw;
          color: #7a7a99; }
        #Cryptocurrency table tr th a:active {
          font-size: 1vw;
          color: #7a7a99; }
      #Cryptocurrency table tr td {
        border-color: #7a7a99;
        color: #7a7a99;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #Cryptocurrency table tr td a:link {
          font-size: 1vw;
          color: #7a7a99; }
        #Cryptocurrency table tr td a:visited {
          font-size: 1vw;
          color: #7a7a99; }
        #Cryptocurrency table tr td a:hover {
          font-size: 1vw;
          color: #7a7a99; }
        #Cryptocurrency table tr td a:active {
          font-size: 1vw;
          color: #7a7a99; }

#Cryptocurrency.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #7a7a99;
  font-size: 1vw; }

#FutureOfQuantum {
  margin: auto;
  background-color: #20203c;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #FutureOfQuantum h1 {
    text-align: left;
    font-size: 5vw;
    color: #ff5c5c; }
  #FutureOfQuantum h2 {
    text-align: left;
    font-size: 3vw;
    color: #c2c2d1; }
  #FutureOfQuantum h3 {
    text-align: left;
    font-size: 2vw;
    color: #7a7a99; }
  #FutureOfQuantum a:link {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #FutureOfQuantum a:visited {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #FutureOfQuantum a:hover {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #FutureOfQuantum a:active {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #FutureOfQuantum p {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #FutureOfQuantum ul {
    text-align: left; }
    #FutureOfQuantum ul li {
      font-size: 1vw;
      color: #7a7a99; }
  #FutureOfQuantum table {
    text-align: left;
    border-collapse: collapse;
    border-color: #7a7a99;
    border-style: solid; }
    #FutureOfQuantum table tr {
      border-color: #7a7a99; }
      #FutureOfQuantum table tr th {
        border-color: #7a7a99;
        color: #7a7a99;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #FutureOfQuantum table tr th a:link {
          font-size: 1vw;
          color: #7a7a99; }
        #FutureOfQuantum table tr th a:visited {
          font-size: 1vw;
          color: #7a7a99; }
        #FutureOfQuantum table tr th a:hover {
          font-size: 1vw;
          color: #7a7a99; }
        #FutureOfQuantum table tr th a:active {
          font-size: 1vw;
          color: #7a7a99; }
      #FutureOfQuantum table tr td {
        border-color: #7a7a99;
        color: #7a7a99;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #FutureOfQuantum table tr td a:link {
          font-size: 1vw;
          color: #7a7a99; }
        #FutureOfQuantum table tr td a:visited {
          font-size: 1vw;
          color: #7a7a99; }
        #FutureOfQuantum table tr td a:hover {
          font-size: 1vw;
          color: #7a7a99; }
        #FutureOfQuantum table tr td a:active {
          font-size: 1vw;
          color: #7a7a99; }

#FutureOfQuantum.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #7a7a99;
  font-size: 1vw; }

#AGI {
  margin: auto;
  background-color: #20203c;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #AGI h1 {
    text-align: left;
    font-size: 5vw;
    color: #ff5c5c; }
  #AGI h2 {
    text-align: left;
    font-size: 3vw;
    color: #c2c2d1; }
  #AGI h3 {
    text-align: left;
    font-size: 2vw;
    color: #c2c2d1; }
  #AGI a:link {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #AGI a:visited {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #AGI a:hover {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #AGI a:active {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #AGI p {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
  #AGI ul {
    text-align: left; }
    #AGI ul li {
      font-size: 1vw;
      color: #7a7a99; }
  #AGI dl {
    text-align: left;
    font-size: 1vw;
    color: #7a7a99; }
    #AGI dl dt {
      font-weight: bold;
      text-decoration: underline; }
    #AGI dl dd {
      margin: 0;
      padding: 0 0 2em 0; }
      #AGI dl dd ul li {
        font-size: 1vw;
        color: #7a7a99; }

#AGI.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #7a7a99;
  font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* Neon Dusk Serenity color palette from https://colormagic.app/palette/690adc39eebc052f2bce9d76 */
#cybersecurityResources {
  margin: auto;
  background-color: #1f1b79;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #cybersecurityResources h1 {
    text-align: left;
    color: #f9c54e;
    font-size: 5vw; }
  #cybersecurityResources h2 {
    text-align: left;
    color: #d07e6c;
    font-size: 3vw; }
  #cybersecurityResources h3 {
    text-align: left;
    color: #8b5aba;
    font-size: 2vw; }
  #cybersecurityResources p {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cybersecurityResources blockquote {
    text-align: left;
    color: #8b5aba;
    font-size: 1.5vw; }
  #cybersecurityResources a:link {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cybersecurityResources a:visited {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cybersecurityResources a:hover {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cybersecurityResources a:active {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cybersecurityResources ul {
    text-align: left; }
    #cybersecurityResources ul li {
      color: #8b5aba;
      font-size: 1vw; }
  #cybersecurityResources table {
    text-align: left;
    border-collapse: collapse;
    border-color: #8b5aba;
    border-style: solid; }
    #cybersecurityResources table tr {
      border-color: #8b5aba; }
      #cybersecurityResources table tr th {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #cybersecurityResources table tr td {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }

#cybersecurityResources.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #f9c54e;
  background-color: #1f1b79;
  font-size: 1vw; }

#artificialIntelligenceResources {
  margin: auto;
  background-color: #1f1b79;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #artificialIntelligenceResources h1 {
    text-align: left;
    color: #f9c54e;
    font-size: 5vw; }
  #artificialIntelligenceResources h2 {
    text-align: left;
    color: #d07e6c;
    font-size: 3vw; }
  #artificialIntelligenceResources h3 {
    text-align: left;
    color: #8b5aba;
    font-size: 2vw; }
  #artificialIntelligenceResources p {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #artificialIntelligenceResources blockquote {
    text-align: left;
    color: #8b5aba;
    font-size: 1.5vw; }
  #artificialIntelligenceResources a:link {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #artificialIntelligenceResources a:visited {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #artificialIntelligenceResources a:hover {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #artificialIntelligenceResources a:active {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #artificialIntelligenceResources ul {
    text-align: left; }
    #artificialIntelligenceResources ul li {
      color: #8b5aba;
      font-size: 1vw; }
  #artificialIntelligenceResources table {
    text-align: left;
    border-collapse: collapse;
    border-color: #8b5aba;
    border-style: solid; }
    #artificialIntelligenceResources table tr {
      border-color: #8b5aba; }
      #artificialIntelligenceResources table tr th {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #artificialIntelligenceResources table tr td {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }

#artificialIntelligenceResources.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #f9c54e;
  background-color: #1f1b79;
  font-size: 1vw; }

#cppResources {
  margin: auto;
  background-color: #1f1b79;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #cppResources h1 {
    text-align: left;
    color: #f9c54e;
    font-size: 5vw; }
  #cppResources h2 {
    text-align: left;
    color: #d07e6c;
    font-size: 3vw; }
  #cppResources h3 {
    text-align: left;
    color: #8b5aba;
    font-size: 2vw; }
  #cppResources p {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources blockquote {
    text-align: left;
    color: #8b5aba;
    font-size: 1.5vw; }
  #cppResources a:link {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources a:visited {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources a:hover {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources a:active {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources ul {
    text-align: left; }
    #cppResources ul li {
      color: #8b5aba;
      font-size: 1vw; }
  #cppResources table {
    text-align: left;
    border-collapse: collapse;
    border-color: #8b5aba;
    border-style: solid; }
    #cppResources table tr {
      border-color: #8b5aba; }
      #cppResources table tr th {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #cppResources table tr td {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }

#cppResources.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #f9c54e;
  background-color: #1f1b79;
  font-size: 1vw; }

#pythonResources {
  margin: auto;
  background-color: #1f1b79;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #pythonResources h1 {
    text-align: left;
    color: #f9c54e;
    font-size: 5vw; }
  #pythonResources h2 {
    text-align: left;
    color: #d07e6c;
    font-size: 3vw; }
  #pythonResources h3 {
    text-align: left;
    color: #8b5aba;
    font-size: 2vw; }
  #pythonResources p {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #pythonResources blockquote {
    text-align: left;
    color: #8b5aba;
    font-size: 1.5vw; }
  #pythonResources a:link {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #pythonResources a:visited {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #pythonResources a:hover {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #pythonResources a:active {
    text-align: left;
    color: #8b5aba;
    font-size: 1vw; }
  #pythonResources ul {
    text-align: left; }
    #pythonResources ul li {
      color: #8b5aba;
      font-size: 1vw; }
  #pythonResources table {
    text-align: left;
    border-collapse: collapse;
    border-color: #8b5aba;
    border-style: solid; }
    #pythonResources table tr {
      border-color: #8b5aba; }
      #pythonResources table tr th {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #pythonResources table tr td {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }

#pythonResources.backToTop {
  text-align: center;
  display: block;
  /* Ensures the link to the top behaves as a block-level element */
  margin: 0 auto;
  /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
  color: #f9c54e;
  background-color: #1f1b79;
  font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* 80s Noir color palette from https://colormagic.app/palette/67297aeceb2f245fd531c036 */
/* Smart color palette from https://colormagic.app/palette/6723509a3e9d694408a440e1 */
/* Emerald Efficiency color palette from https://colormagic.app/palette/68f301dc7470129f5e4b011c */
/* can be compiled to css with `sass --trace ./assets/css/default.scss ./assets/css/default.css` */
html {
  scroll-behavior: smooth; }

header {
  text-align: center;
  background-color: #007a5e;
  font-family: "Courier New", monospace; }
  header h1 {
    color: #e0f7fa;
    font-size: 5vw; }
  header h2 {
    color: #a1d9b0;
    font-size: 3vw; }
  header h3 {
    color: #50c3a1;
    font-size: 2vw; }
  header p {
    color: #50c3a1;
    font-size: 1vw; }
  header #pageMenu {
    background-color: #007a5e;
    font-size: 1vw; }
    header #pageMenu a {
      display: inline-block;
      color: #e0f7fa;
      margin: auto; }
  header #siteMenu {
    background-color: #007a5e;
    font-size: 1vw; }
    header #siteMenu a {
      display: inline-block;
      color: #e0f7fa;
      margin: auto; }

body {
  margin: auto;
  text-align: center;
  background-color: #3e3e41;
  font-family: "Courier New", monospace; }
  body h1 {
    color: #d4d4d9;
    font-size: 5vw; }
  body h2 {
    color: #d4d4d9;
    font-size: 3vw; }
  body h3 {
    color: #d4d4d9;
    font-size: 2vw; }
  body p {
    color: #a0a0b0;
    font-size: 1vw; }
  body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
    border: 1vw solid #1a1a1e;
    border-radius: 1%; }

footer {
  text-align: center;
  background-color: #007a5e; }
  footer #contactMe {
    font-family: "Courier New", monospace;
    /* unvisited link */
    /* visited link */
    /* mouse over link */
    /* selected link */ }
    footer #contactMe h1 {
      font-size: 5vw;
      color: #1d9a6a; }
    footer #contactMe h2 {
      font-size: 3vw;
      color: #50c3a1; }
    footer #contactMe h3 {
      font-size: 2vw;
      color: #a1d9b0; }
    footer #contactMe address {
      color: #e0f7fa;
      font-size: 1vw; }
    footer #contactMe a:link {
      color: #e0f7fa;
      font-size: 1vw; }
    footer #contactMe a:visited {
      color: #a1d9b0;
      font-size: 1vw; }
    footer #contactMe a:hover {
      color: #e0f7fa;
      font-size: 1vw; }
    footer #contactMe a:active {
      color: #a1d9b0;
      font-size: 1vw; }
    footer #contactMe p {
      color: #e0f7fa;
      font-size: 1vw; }

/*# sourceMappingURL=default.css.map */
