/* https://www.w3schools.com/Css/css_selectors.asp */
/* Calm Authority color palette from https://piktochart.com/tips/professional-color-palette */
/* Sunset Glow color palette from https://colormagic.app/palette/6730825daab946028bff7622 */
/* Smart color palette from https://colormagic.app/palette/6723509a3e9d694408a440e1 */
/* Gryffon color palette from https://colormagic.app/palette/6779bc949b262de07643d116 */
/* Visionary Kinship color palette from https://colormagic.app/palette/684cd204a1f3618a008a9255 */
#workHistory {
  margin: auto;
  text-align: left;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif; }
  #workHistory h1 {
    color: #5D6D7E;
    font-size: 5vw; }
  #workHistory h2 {
    color: #85929E;
    font-size: 3vw; }
  #workHistory h3 {
    color: #AAB7B8;
    font-size: 2vw; }
  #workHistory p {
    color: #D5D5DB;
    font-size: 1vw; }
  #workHistory button {
    border: 0.25vw solid #D5D5DB;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #D5D5DB;
    background-color: #34495E;
    font-size: 1vw; }

#education {
  margin: auto;
  text-align: left;
  background-color: maroon;
  width: 80%;
  border-radius: 10px; }
  #education h1 {
    color: white;
    font-size: 5vw; }
  #education h2 {
    color: white;
    font-size: 3vw; }
  #education h3 {
    color: white;
    font-size: 2vw; }
  #education p {
    color: white;
    font-size: 1vw; }
  #education ul li {
    color: white;
    font-size: 1vw; }
  #education table {
    border-collapse: collapse;
    color: white;
    font-size: 1vw;
    border-color: white;
    border-style: solid; }
    #education table tr th {
      border-top-style: double;
      border-right-style: double;
      border-bottom-style: double;
      border-left-style: double; }
    #education table tr td {
      border-top-style: groove;
      border-right-style: groove;
      border-bottom-style: groove;
      border-left-style: groove; }
  #education button {
    border: 0.25vw solid white;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: white;
    background-color: maroon;
    font-size: 1vw; }

#projects {
  margin: auto;
  text-align: left;
  background-color: #1c1a3d;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #projects h1 {
    color: #f1e0ff;
    font-size: 5vw; }
  #projects h2 {
    color: #d1c3e9;
    font-size: 3vw; }
  #projects h3 {
    color: #8d7d9b;
    font-size: 2vw; }
  #projects p {
    color: #4a4e8c;
    font-size: 1vw; }
  #projects a:link {
    color: #4a4e8c;
    font-size: 1vw; }
  #projects a:visited {
    color: #8d7d9b;
    font-size: 1vw; }
  #projects a:hover {
    color: #4a4e8c;
    font-size: 1vw; }
  #projects a:active {
    color: #8d7d9b;
    font-size: 1vw; }
  #projects button {
    border: 0.25vw solid #f1e0ff;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #f1e0ff;
    background-color: #1c1a3d;
    font-size: 1vw; }

#technicalSkills {
  margin: auto;
  text-align: left;
  background-color: black;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #technicalSkills h1 {
    color: greenyellow;
    font-size: 5vw; }
  #technicalSkills h2 {
    color: greenyellow;
    font-size: 3vw; }
  #technicalSkills h3 {
    color: greenyellow;
    font-size: 2vw; }
  #technicalSkills p {
    color: greenyellow;
    font-size: 1vw; }
  #technicalSkills ul li {
    color: greenyellow;
    font-size: 1vw; }
  #technicalSkills button {
    border: 0.25vw solid greenyellow;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: greenyellow;
    background-color: black;
    font-size: 1vw; }

#otherSkills {
  margin: auto;
  text-align: left;
  background-color: #d33131;
  width: 80%;
  border-radius: 10px;
  font-family: "Lucida Handwriting", cursive; }
  #otherSkills h1 {
    color: #ffb84d;
    font-size: 5vw; }
  #otherSkills h2 {
    color: #ff9900;
    font-size: 3vw; }
  #otherSkills h3 {
    color: #ff9900;
    font-size: 2vw; }
  #otherSkills p {
    color: #ff9900;
    font-size: 1vw; }
  #otherSkills ul li {
    color: #ff9900;
    font-size: 1vw; }
  #otherSkills button {
    border: 0.25vw solid #ff9900;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ff9900;
    background-color: #d33131;
    font-size: 1vw; }

#certifications {
  margin: auto;
  text-align: left;
  background-color: #990000;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #certifications h1 {
    color: #ffcc00;
    font-size: 5vw; }
  #certifications h2 {
    color: #ffcc00;
    font-size: 3vw; }
  #certifications h3 {
    color: #ffcc00;
    font-size: 2vw; }
  #certifications p {
    color: #ffcc00;
    font-size: 1vw; }
  #certifications ul li {
    color: #ffcc00;
    font-size: 1vw; }
  #certifications button {
    border: 0.25vw solid #ffcc00;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ffcc00;
    background-color: #990000;
    font-size: 1vw; }

#languages {
  margin: auto;
  text-align: left;
  background-color: #e74d3c;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #languages h1 {
    color: #1abc9c;
    font-size: 5vw; }
  #languages h2 {
    color: #1abc9c;
    font-size: 3vw; }
  #languages h3 {
    color: #1abc9c;
    font-size: 2vw; }
  #languages p {
    color: #3398db;
    font-size: 1vw; }
  #languages ul li {
    color: #3398db;
    font-size: 1vw; }
  #languages button {
    border: 0.25vw solid #1abc9c;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #1abc9c;
    background-color: #e74d3c;
    font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* Calm Authority color palette from https://piktochart.com/tips/professional-color-palette */
/* Sunset Glow color palette from https://colormagic.app/palette/6730825daab946028bff7622 */
/* Dungeons and Dragons color palette from https://colormagic.app/palette/6715d701695c5016fd048a70 */
/* Vivid Terrain color palette from https://colormagic.app/palette/68a2a5674ad85ebf78f88866 */
/* Brown Document Background color palette from https://colormagic.app/palette/68d2eec4d1b879e8200cff38 */
#fitness {
  margin: auto;
  text-align: left;
  background-color: #d33131;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #fitness h1 {
    color: #ffb84d;
    font-size: 5vw; }
  #fitness h2 {
    color: #ff9900;
    font-size: 3vw; }
  #fitness h3 {
    color: #ff9900;
    font-size: 2vw; }
  #fitness p {
    color: #ff9900;
    font-size: 1vw; }
  #fitness ul li {
    color: #ff9900;
    font-size: 1vw; }
    #fitness ul li u {
      color: #ff9900;
      font-size: 1vw; }
  #fitness a:link {
    color: #ff9900;
    font-size: 1vw; }
  #fitness a:visited {
    color: #ff9900;
    font-size: 1vw; }
  #fitness a:hover {
    color: #ff9900;
    font-size: 1vw; }
  #fitness a:active {
    color: #ff9900;
    font-size: 1vw; }
  #fitness button {
    border: 0.25vw solid #ff9900;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ff9900;
    background-color: #d33131;
    font-size: 1vw; }

#quantumComputing {
  margin: auto;
  text-align: left;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #quantumComputing h1 {
    color: #D5D5DB;
    font-size: 5vw; }
  #quantumComputing h2 {
    color: #AAB7B8;
    font-size: 3vw; }
  #quantumComputing h3 {
    color: #85929E;
    font-size: 2vw; }
  #quantumComputing p {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:link {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:visited {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:hover {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:active {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing ul li {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing button {
    border: 0.25vw solid #D5D5DB;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #D5D5DB;
    background-color: #5D6D7E;
    font-size: 1vw; }

#photography {
  margin: auto;
  text-align: left;
  background-color: #4f9c7e;
  width: 80%;
  border-radius: 10px;
  font-family: "Lucida Handwriting", cursive;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #photography img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
    border: 1vw solid #f6e0a2;
    border-radius: 1%; }
  #photography h1 {
    color: #e7693c;
    font-size: 5vw; }
  #photography h2 {
    color: #f5a524;
    font-size: 3vw; }
  #photography h3 {
    color: #f5a524;
    font-size: 2vw; }
  #photography p {
    color: #f6e0a2;
    font-size: 1vw; }
  #photography a:link {
    color: #f6e0a2;
    font-size: 1vw; }
  #photography a:visited {
    color: #a3d55d;
    font-size: 1vw; }
  #photography a:hover {
    color: #f6e0a2;
    font-size: 1vw; }
  #photography a:active {
    color: #a3d55d;
    font-size: 1vw; }
  #photography button {
    border: 0.25vw solid #e7693c;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #e7693c;
    background-color: #a3d55d;
    font-size: 1vw; }

#dungeonsAndDragons {
  margin: auto;
  text-align: left;
  background-color: #4c3e3e;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #dungeonsAndDragons h1 {
    color: #d1945c;
    font-size: 5vw; }
  #dungeonsAndDragons h2 {
    color: #c7a67a;
    font-size: 3vw; }
  #dungeonsAndDragons h3 {
    color: #8a6a6a;
    font-size: 2vw; }
  #dungeonsAndDragons p {
    color: #8a6a6a;
    font-size: 1vw; }
  #dungeonsAndDragons a:link {
    color: #5a4e4e;
    font-size: 1vw; }
  #dungeonsAndDragons a:visited {
    color: #8a6a6a;
    font-size: 1vw; }
  #dungeonsAndDragons a:hover {
    color: #5a4e4e;
    font-size: 1vw; }
  #dungeonsAndDragons a:active {
    color: #8a6a6a;
    font-size: 1vw; }
  #dungeonsAndDragons ul li {
    color: #5a4e4e;
    font-size: 1vw; }
  #dungeonsAndDragons button {
    border: 0.25vw solid #d1945c;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #d1945c;
    background-color: #5a4e4e;
    font-size: 1vw; }

#history {
  margin: auto;
  text-align: left;
  background-color: #895b29;
  width: 80%;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #history h1 {
    color: #e9d9b9;
    font-size: 5vw; }
  #history h2 {
    color: #d5ccae;
    font-size: 3vw; }
  #history h3 {
    color: #d5ccae;
    font-size: 2vw; }
  #history p {
    color: #d5ccae;
    font-size: 1vw; }
  #history blockquote {
    font-family: "Lucida Handwriting", cursive;
    color: #d5ccae;
    font-size: 1.5vw; }
  #history a:link {
    color: #d5ccae;
    font-size: 1vw; }
  #history a:visited {
    color: #c2b180;
    font-size: 1vw; }
  #history a:hover {
    color: #d5ccae;
    font-size: 1vw; }
  #history a:active {
    color: #c2b180;
    font-size: 1vw; }
  #history ul li {
    color: #d5ccae;
    font-size: 1vw; }
  #history table {
    border-collapse: collapse;
    border-color: #d5ccae;
    border-style: solid; }
    #history table tr {
      border-color: #d5ccae; }
      #history table tr th {
        border-color: #d5ccae;
        color: #d5ccae;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #history table tr th a:link {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr th a:visited {
          color: #c2b180;
          font-size: 1vw; }
        #history table tr th a:hover {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr th a:active {
          color: #c2b180;
          font-size: 1vw; }
      #history table tr td {
        border-color: #d5ccae;
        color: #d5ccae;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #history table tr td a:link {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr td a:visited {
          color: #c2b180;
          font-size: 1vw; }
        #history table tr td a:hover {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr td a:active {
          color: #c2b180;
          font-size: 1vw; }
  #history button {
    border: 0.25vw solid #d5ccae;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #d5ccae;
    background-color: #895b29;
    font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* 80s Noir color palette from https://colormagic.app/palette/67297aeceb2f245fd531c036 */
/* Shades of Brown color palette from https://colormagic.app/palette/68a2a7484ad85ebf78f88879 */
/* Cyberpunk Dreams color palette from https://colormagic.app/palette/6715cb90695c5016fd048856 */
/* Luna of Gale color palette from https://colormagic.app/palette/671c28bb53d1e2a13ca7eca4 */
/* Blood Moon color palette from https://colormagic.app/palette/6713baf329b9e8776c834924 */
/* Disturbed color palette from https://colormagic.app/palette/6715f176e7aeb007989f9a3d */
/* Digital Veil color palette from https://colormagic.app/palette/68b4a013f32b0e3dc3e7440d */
/* Emerald Efficiency palette from https://colormagic.app/palette/68f301dc7470129f5e4b011c */
/* Purple Quantum https://colormagic.app/palette/68f429537470129f5e4b0d3d */
#LLMOpinions {
  margin: auto;
  text-align: left;
  background-color: #200b4b;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #LLMOpinions h1 {
    font-size: 5vw;
    color: #ff3d94; }
  #LLMOpinions h2 {
    font-size: 3vw;
    color: #b5307e; }
  #LLMOpinions h3 {
    font-size: 2vw;
    color: #6a2a98; }
  #LLMOpinions a:link {
    font-size: 1vw;
    color: #6a2a98; }
  #LLMOpinions a:visited {
    font-size: 1vw;
    color: #3f1c6d; }
  #LLMOpinions a:hover {
    font-size: 1vw;
    color: #6a2a98; }
  #LLMOpinions a:active {
    font-size: 1vw;
    color: #3f1c6d; }
  #LLMOpinions p {
    font-size: 1vw;
    color: #6a2a98; }
  #LLMOpinions blockquote {
    font-family: "Lucida Handwriting", cursive;
    font-size: 1.5vw;
    color: #6a2a98; }
  #LLMOpinions button {
    border: 0.25vw solid #ff3d94;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ff3d94;
    background-color: #200b4b;
    font-size: 1vw; }

#AppStores {
  margin: auto;
  text-align: left;
  background-color: #5c6b8a;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #AppStores h1 {
    font-size: 5vw;
    color: #a2b8d2; }
  #AppStores h2 {
    font-size: 3vw;
    color: #f5c9a8; }
  #AppStores h3 {
    font-size: 2vw;
    color: #f07838; }
  #AppStores a:link {
    font-size: 1vw;
    color: #f07838; }
  #AppStores a:visited {
    font-size: 1vw;
    color: #ba4c40; }
  #AppStores a:hover {
    font-size: 1vw;
    color: #f07838; }
  #AppStores a:active {
    font-size: 1vw;
    color: #ba4c40; }
  #AppStores p {
    font-size: 1vw;
    color: #f07838; }
  #AppStores button {
    border: 0.25vw solid #ba4c40;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ba4c40;
    background-color: #5c6b8a;
    font-size: 1vw; }

#KissMySaaS {
  margin: auto;
  text-align: left;
  background-color: #691b1e;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #KissMySaaS h1 {
    font-size: 5vw;
    color: #b82d28; }
  #KissMySaaS h2 {
    font-size: 3vw;
    color: #f05660; }
  #KissMySaaS h3 {
    font-size: 2vw;
    color: #f9a68b; }
  #KissMySaaS a:link {
    font-size: 1vw;
    color: #fce3d4; }
  #KissMySaaS a:visited {
    font-size: 1vw;
    color: #f9a68b; }
  #KissMySaaS a:hover {
    font-size: 1vw;
    color: #fce3d4; }
  #KissMySaaS a:active {
    font-size: 1vw;
    color: #f9a68b; }
  #KissMySaaS ul li {
    font-size: 1vw;
    color: #fce3d4; }
  #KissMySaaS p {
    font-size: 1vw;
    color: #fce3d4; }
    #KissMySaaS p u {
      font-size: 1vw;
      color: #fce3d4; }
  #KissMySaaS button {
    border: 0.25vw solid #fce3d4;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #fce3d4;
    background-color: #691b1e;
    font-size: 1vw; }

#PrivacyStance {
  margin: auto;
  text-align: left;
  background-color: #1f3a3d;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #PrivacyStance h1 {
    font-size: 5vw;
    color: #f0f4f5; }
  #PrivacyStance h2 {
    font-size: 3vw;
    color: #a5e3e9; }
  #PrivacyStance h3 {
    font-size: 2vw;
    color: #5bc5c8; }
  #PrivacyStance a:link {
    font-size: 1vw;
    color: #2a7e7e; }
  #PrivacyStance a:visited {
    font-size: 1vw;
    color: #5bc5c8; }
  #PrivacyStance a:hover {
    font-size: 1vw;
    color: #2a7e7e; }
  #PrivacyStance a:active {
    font-size: 1vw;
    color: #5bc5c8; }
  #PrivacyStance ul li {
    font-size: 1vw;
    color: #2a7e7e; }
  #PrivacyStance p {
    font-size: 1vw;
    color: #2a7e7e; }
  #PrivacyStance blockquote {
    font-family: "Lucida Handwriting", cursive;
    font-size: 1.5vw;
    color: #2a7e7e; }
  #PrivacyStance button {
    border: 0.25vw solid #f0f4f5;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #f0f4f5;
    background-color: #1f3a3d;
    font-size: 1vw; }

#KAN {
  margin: auto;
  text-align: left;
  background-color: #1d3a6d;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #KAN h1 {
    font-size: 5vw;
    color: #d6e4f5; }
  #KAN h2 {
    font-size: 3vw;
    color: #a4c8df; }
  #KAN h3 {
    font-size: 2vw;
    color: #7bb7d1; }
  #KAN a:link {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN a:visited {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN a:hover {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN a:active {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN p {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN ul li {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN button {
    border: 0.25vw solid #d6e4f5;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #d6e4f5;
    background-color: #1d3a6d;
    font-size: 1vw; }

#Cryptocurrency {
  margin: auto;
  text-align: left;
  background-color: #007a5e;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #Cryptocurrency h1 {
    font-size: 5vw;
    color: #e0f7fa; }
  #Cryptocurrency h2 {
    font-size: 3vw;
    color: #a1d9b0; }
  #Cryptocurrency h3 {
    font-size: 2vw;
    color: #a1d9b0; }
  #Cryptocurrency a:link {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency a:visited {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency a:hover {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency a:active {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency p {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency ul li {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency table {
    border-collapse: collapse;
    border-color: #a1d9b0;
    border-style: solid; }
    #Cryptocurrency table tr {
      border-color: #a1d9b0; }
      #Cryptocurrency table tr th {
        border-color: #a1d9b0;
        color: #a1d9b0;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #Cryptocurrency table tr th a:link {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr th a:visited {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr th a:hover {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr th a:active {
          color: #a1d9b0;
          font-size: 1vw; }
      #Cryptocurrency table tr td {
        border-color: #a1d9b0;
        color: #a1d9b0;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #Cryptocurrency table tr td a:link {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr td a:visited {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr td a:hover {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr td a:active {
          color: #a1d9b0;
          font-size: 1vw; }
  #Cryptocurrency button {
    border: 0.25vw solid #e0f7fa;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #e0f7fa;
    background-color: #007a5e;
    font-size: 1vw; }

#FutureOfQuantum {
  margin: auto;
  text-align: left;
  background-color: #1e1f2a;
  width: 80%;
  border-radius: 10px;
  font-family: Tahoma, Verdana, sans-serif;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #FutureOfQuantum h1 {
    font-size: 5vw;
    color: #e5c3f9; }
  #FutureOfQuantum h2 {
    font-size: 3vw;
    color: #e5c3f9; }
  #FutureOfQuantum h3 {
    font-size: 2vw;
    color: #e5c3f9; }
  #FutureOfQuantum a:link {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum a:visited {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum a:hover {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum a:active {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum p {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum ul li {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum table {
    border-collapse: collapse;
    border-color: #8d6ab9;
    border-style: solid; }
    #FutureOfQuantum table tr {
      border-color: #8d6ab9; }
      #FutureOfQuantum table tr th {
        border-color: #8d6ab9;
        color: #8d6ab9;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #FutureOfQuantum table tr th a:link {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr th a:visited {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr th a:hover {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr th a:active {
          color: #8d6ab9;
          font-size: 1vw; }
      #FutureOfQuantum table tr td {
        border-color: #8d6ab9;
        color: #8d6ab9;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #FutureOfQuantum table tr td a:link {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr td a:visited {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr td a:hover {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr td a:active {
          color: #8d6ab9;
          font-size: 1vw; }
  #FutureOfQuantum button {
    border: 0.25vw solid #e5c3f9;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #e5c3f9;
    background-color: #1e1f2a;
    font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* 80s Noir color palette from https://colormagic.app/palette/67297aeceb2f245fd531c036 */
/* Blood Moon color palette from https://colormagic.app/palette/6713baf329b9e8776c834924 */
/* Smart color palette from https://colormagic.app/palette/6723509a3e9d694408a440e1 */
/* can be compiled to css with `sass --trace ./assets/css/default.scss ./assets/css/default.css` */
html {
  scroll-behavior: smooth; }

header {
  text-align: center;
  background-color: #1a1a1e;
  font-family: "Times New Roman", Times, serif; }
  header h1 {
    color: #a0a0b0;
    font-size: 5vw; }
  header h2 {
    color: #a0a0b0;
    font-size: 3vw; }
  header h3 {
    color: #a0a0b0;
    font-size: 2vw; }
  header p {
    color: #6b6b70;
    font-size: 1vw; }
  header #pageMenu {
    background-color: #d4d4d9;
    font-size: 1vw; }
    header #pageMenu button {
      display: inline-block;
      border: 0.25vw solid #1a1a1e;
      color: #1a1a1e;
      margin: auto; }
  header #siteMenu {
    background-color: #d4d4d9;
    font-size: 1vw; }
    header #siteMenu button {
      display: inline-block;
      border: 0.25vw solid #1a1a1e;
      color: #1a1a1e;
      margin: auto; }

body {
  margin: auto;
  text-align: center;
  background-color: #3e3e41;
  font-family: Garamond, serif; }
  body h1 {
    color: #d4d4d9;
    font-size: 5vw; }
  body h2 {
    color: #d4d4d9;
    font-size: 3vw; }
  body h3 {
    color: #d4d4d9;
    font-size: 2vw; }
  body p {
    color: #a0a0b0;
    font-size: 1vw; }
  body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
    border: 1vw solid #1a1a1e;
    border-radius: 1%; }

footer {
  text-align: center;
  background-color: #1c1a3d; }
  footer #contactMe {
    font-family: "Times New Roman", Times, serif;
    /* unvisited link */
    /* visited link */
    /* mouse over link */
    /* selected link */ }
    footer #contactMe h1 {
      font-size: 5vw;
      color: #4a4e8c; }
    footer #contactMe h2 {
      font-size: 3vw;
      color: #8d7d9b; }
    footer #contactMe h3 {
      font-size: 2vw;
      color: #d1c3e9; }
    footer #contactMe address {
      color: #f1e0ff;
      font-size: 1vw; }
    footer #contactMe a:link {
      color: #f1e0ff;
      font-size: 1vw; }
    footer #contactMe a:visited {
      color: #d1c3e9;
      font-size: 1vw; }
    footer #contactMe a:hover {
      color: #f1e0ff;
      font-size: 1vw; }
    footer #contactMe a:active {
      color: #d1c3e9;
      font-size: 1vw; }
    footer #contactMe p {
      color: #f1e0ff;
      font-size: 1vw; }

/*# sourceMappingURL=default.css.map */
