/* https://www.w3schools.com/Css/css_selectors.asp */
/* Calm Authority color palette from https://piktochart.com/tips/professional-color-palette */
/* Sunset Glow color palette from https://colormagic.app/palette/6730825daab946028bff7622 */
/* Smart color palette from https://colormagic.app/palette/6723509a3e9d694408a440e1 */
/* Gryffon color palette from https://colormagic.app/palette/6779bc949b262de07643d116 */
#workHistory {
  margin: auto;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #workHistory span {
    font-size: 100px;
    float: center;
    text-align: center; }
  #workHistory h1 {
    text-align: left;
    color: #5D6D7E;
    font-size: 5vw; }
  #workHistory h2 {
    text-align: left;
    color: #85929E;
    font-size: 3vw; }
  #workHistory h3 {
    text-align: left;
    color: #AAB7B8;
    font-size: 2vw; }
  #workHistory p {
    text-align: left;
    color: #D5D5DB;
    font-size: 1vw; }
  #workHistory button {
    text-align: left;
    border: 0.25vw solid #D5D5DB;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #D5D5DB;
    background-color: #34495E;
    font-size: 1vw; }

#education {
  margin: auto;
  background-color: maroon;
  width: 80%;
  border-radius: 10px; }
  #education span {
    font-size: 100px;
    float: center;
    text-align: center; }
  #education h1 {
    color: white;
    font-size: 5vw;
    text-align: left; }
  #education h2 {
    color: white;
    font-size: 3vw;
    text-align: left; }
  #education h3 {
    color: white;
    font-size: 2vw;
    text-align: left; }
  #education p {
    color: white;
    font-size: 1vw;
    text-align: left; }
  #education ul {
    text-align: left; }
    #education ul li {
      color: white;
      font-size: 1vw; }
  #education table {
    text-align: left;
    border-collapse: collapse;
    color: white;
    font-size: 1vw;
    border-color: white;
    border-style: solid; }
    #education table tr th {
      border-top-style: double;
      border-right-style: double;
      border-bottom-style: double;
      border-left-style: double; }
    #education table tr td {
      border-top-style: groove;
      border-right-style: groove;
      border-bottom-style: groove;
      border-left-style: groove; }
  #education button {
    text-align: left;
    border: 0.25vw solid white;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: white;
    background-color: maroon;
    font-size: 1vw; }

#projects {
  margin: auto;
  background-color: #1c1a3d;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #projects span {
    font-size: 100px;
    float: center;
    text-align: center; }
  #projects h1 {
    text-align: left;
    color: #f1e0ff;
    font-size: 5vw; }
  #projects h2 {
    text-align: left;
    color: #d1c3e9;
    font-size: 3vw; }
  #projects h3 {
    text-align: left;
    color: #8d7d9b;
    font-size: 2vw; }
  #projects p {
    text-align: left;
    color: #4a4e8c;
    font-size: 1vw; }
  #projects a:link {
    text-align: left;
    color: #4a4e8c;
    font-size: 1vw; }
  #projects a:visited {
    text-align: left;
    color: #8d7d9b;
    font-size: 1vw; }
  #projects a:hover {
    text-align: left;
    color: #4a4e8c;
    font-size: 1vw; }
  #projects a:active {
    text-align: left;
    color: #8d7d9b;
    font-size: 1vw; }
  #projects button {
    text-align: left;
    border: 0.25vw solid #f1e0ff;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #f1e0ff;
    background-color: #1c1a3d;
    font-size: 1vw; }

#technicalSkills {
  margin: auto;
  background-color: black;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #technicalSkills span {
    font-size: 100px;
    float: center;
    text-align: center; }
  #technicalSkills h1 {
    text-align: left;
    color: greenyellow;
    font-size: 5vw; }
  #technicalSkills h2 {
    text-align: left;
    color: greenyellow;
    font-size: 3vw; }
  #technicalSkills h3 {
    text-align: left;
    color: greenyellow;
    font-size: 2vw; }
  #technicalSkills p {
    text-align: left;
    color: greenyellow;
    font-size: 1vw; }
  #technicalSkills ul {
    text-align: left; }
    #technicalSkills ul li {
      color: greenyellow;
      font-size: 1vw; }
  #technicalSkills button {
    text-align: left;
    border: 0.25vw solid greenyellow;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: greenyellow;
    background-color: black;
    font-size: 1vw; }

#otherSkills {
  margin: auto;
  background-color: #d33131;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #otherSkills span {
    font-size: 100px;
    float: center;
    text-align: center; }
  #otherSkills h1 {
    text-align: left;
    color: #ffb84d;
    font-size: 5vw; }
  #otherSkills h2 {
    text-align: left;
    color: #ff9900;
    font-size: 3vw; }
  #otherSkills h3 {
    text-align: left;
    color: #ff9900;
    font-size: 2vw; }
  #otherSkills p {
    text-align: left;
    color: #ff9900;
    font-size: 1vw; }
  #otherSkills ul {
    text-align: left; }
    #otherSkills ul li {
      color: #ff9900;
      font-size: 1vw; }
  #otherSkills button {
    text-align: left;
    border: 0.25vw solid #ff9900;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ff9900;
    background-color: #d33131;
    font-size: 1vw; }

#certifications {
  margin: auto;
  background-color: #990000;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #certifications span {
    font-size: 100px;
    float: center;
    text-align: center; }
  #certifications h1 {
    text-align: left;
    color: #ffcc00;
    font-size: 5vw; }
  #certifications h2 {
    text-align: left;
    color: #ffcc00;
    font-size: 3vw; }
  #certifications h3 {
    text-align: left;
    color: #ffcc00;
    font-size: 2vw; }
  #certifications p {
    text-align: left;
    color: #ffcc00;
    font-size: 1vw; }
  #certifications ul {
    text-align: left; }
    #certifications ul li {
      color: #ffcc00;
      font-size: 1vw; }
  #certifications button {
    text-align: left;
    border: 0.25vw solid #ffcc00;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ffcc00;
    background-color: #990000;
    font-size: 1vw; }

#languages {
  margin: auto;
  background-color: #f1e0ff;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace; }
  #languages span {
    font-size: 100px;
    float: center;
    text-align: center; }
  #languages h1 {
    text-align: left;
    color: #1c1a3d;
    font-size: 5vw; }
  #languages h2 {
    text-align: left;
    color: #1c1a3d;
    font-size: 3vw; }
  #languages h3 {
    text-align: left;
    color: #1c1a3d;
    font-size: 2vw; }
  #languages p {
    text-align: left;
    color: #8d7d9b;
    font-size: 1vw; }
  #languages ul {
    text-align: left; }
    #languages ul li {
      color: #8d7d9b;
      font-size: 1vw; }
  #languages button {
    text-align: left;
    border: 0.25vw solid #1c1a3d;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #1c1a3d;
    background-color: #f1e0ff;
    font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* Calm Authority color palette from https://piktochart.com/tips/professional-color-palette */
/* Sunset Glow color palette from https://colormagic.app/palette/6730825daab946028bff7622 */
/* Dungeons and Dragons color palette from https://colormagic.app/palette/6715d701695c5016fd048a70 */
/* Brown Document Background color palette from https://colormagic.app/palette/68d2eec4d1b879e8200cff38 */
#fitness {
  margin: auto;
  text-align: left;
  background-color: #d33131;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #fitness h1 {
    color: #ffb84d;
    font-size: 5vw; }
  #fitness h2 {
    color: #ff9900;
    font-size: 3vw; }
  #fitness h3 {
    color: #ff9900;
    font-size: 2vw; }
  #fitness p {
    color: #ff9900;
    font-size: 1vw; }
  #fitness ul li {
    color: #ff9900;
    font-size: 1vw; }
    #fitness ul li u {
      color: #ff9900;
      font-size: 1vw; }
  #fitness a:link {
    color: #ff9900;
    font-size: 1vw; }
  #fitness a:visited {
    color: #ff9900;
    font-size: 1vw; }
  #fitness a:hover {
    color: #ff9900;
    font-size: 1vw; }
  #fitness a:active {
    color: #ff9900;
    font-size: 1vw; }
  #fitness button {
    border: 0.25vw solid #ff9900;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ff9900;
    background-color: #d33131;
    font-size: 1vw; }

#quantumComputing {
  margin: auto;
  text-align: left;
  background-color: #34495E;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #quantumComputing h1 {
    color: #D5D5DB;
    font-size: 5vw; }
  #quantumComputing h2 {
    color: #AAB7B8;
    font-size: 3vw; }
  #quantumComputing h3 {
    color: #85929E;
    font-size: 2vw; }
  #quantumComputing p {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:link {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:visited {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:hover {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing a:active {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing ul li {
    color: #5D6D7E;
    font-size: 1vw; }
  #quantumComputing button {
    border: 0.25vw solid #D5D5DB;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #D5D5DB;
    background-color: #5D6D7E;
    font-size: 1vw; }

#photography {
  margin: auto;
  text-align: left;
  background-color: #e9d9b9;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #photography img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
    border: 1vw solid #c2b180;
    border-radius: 1%; }
  #photography h1 {
    color: #895b29;
    font-size: 5vw; }
  #photography h2 {
    color: #a67c5e;
    font-size: 3vw; }
  #photography h3 {
    color: #a67c5e;
    font-size: 2vw; }
  #photography p {
    color: #c2b180;
    font-size: 1vw; }
  #photography a:link {
    color: #c2b180;
    font-size: 1vw; }
  #photography a:visited {
    color: #d5ccae;
    font-size: 1vw; }
  #photography a:hover {
    color: #c2b180;
    font-size: 1vw; }
  #photography a:active {
    color: #d5ccae;
    font-size: 1vw; }
  #photography button {
    border: 0.25vw solid #895b29;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #895b29;
    background-color: #d5ccae;
    font-size: 1vw; }

#dungeonsAndDragons {
  margin: auto;
  text-align: left;
  background-color: #4c3e3e;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #dungeonsAndDragons h1 {
    color: #d1945c;
    font-size: 5vw; }
  #dungeonsAndDragons h2 {
    color: #c7a67a;
    font-size: 3vw; }
  #dungeonsAndDragons h3 {
    color: #8a6a6a;
    font-size: 2vw; }
  #dungeonsAndDragons p {
    color: #8a6a6a;
    font-size: 1vw; }
  #dungeonsAndDragons a:link {
    color: #5a4e4e;
    font-size: 1vw; }
  #dungeonsAndDragons a:visited {
    color: #8a6a6a;
    font-size: 1vw; }
  #dungeonsAndDragons a:hover {
    color: #5a4e4e;
    font-size: 1vw; }
  #dungeonsAndDragons a:active {
    color: #8a6a6a;
    font-size: 1vw; }
  #dungeonsAndDragons ul li {
    color: #5a4e4e;
    font-size: 1vw; }
  #dungeonsAndDragons button {
    border: 0.25vw solid #d1945c;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #d1945c;
    background-color: #5a4e4e;
    font-size: 1vw; }

#history {
  margin: auto;
  text-align: left;
  background-color: #895b29;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #history h1 {
    color: #e9d9b9;
    font-size: 5vw; }
  #history h2 {
    color: #d5ccae;
    font-size: 3vw; }
  #history h3 {
    color: #d5ccae;
    font-size: 2vw; }
  #history p {
    color: #d5ccae;
    font-size: 1vw; }
  #history blockquote {
    color: #d5ccae;
    font-size: 1.5vw; }
  #history a:link {
    color: #d5ccae;
    font-size: 1vw; }
  #history a:visited {
    color: #c2b180;
    font-size: 1vw; }
  #history a:hover {
    color: #d5ccae;
    font-size: 1vw; }
  #history a:active {
    color: #c2b180;
    font-size: 1vw; }
  #history ul li {
    color: #d5ccae;
    font-size: 1vw; }
  #history table {
    border-collapse: collapse;
    border-color: #d5ccae;
    border-style: solid; }
    #history table tr {
      border-color: #d5ccae; }
      #history table tr th {
        border-color: #d5ccae;
        color: #d5ccae;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #history table tr th a:link {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr th a:visited {
          color: #c2b180;
          font-size: 1vw; }
        #history table tr th a:hover {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr th a:active {
          color: #c2b180;
          font-size: 1vw; }
      #history table tr td {
        border-color: #d5ccae;
        color: #d5ccae;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #history table tr td a:link {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr td a:visited {
          color: #c2b180;
          font-size: 1vw; }
        #history table tr td a:hover {
          color: #d5ccae;
          font-size: 1vw; }
        #history table tr td a:active {
          color: #c2b180;
          font-size: 1vw; }
  #history button {
    border: 0.25vw solid #d5ccae;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #d5ccae;
    background-color: #895b29;
    font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* Luna of Gale color palette from https://colormagic.app/palette/671c28bb53d1e2a13ca7eca4 */
/* Blood Moon color palette from https://colormagic.app/palette/6713baf329b9e8776c834924 */
/* Disturbed color palette from https://colormagic.app/palette/6715f176e7aeb007989f9a3d */
/* Digital Veil color palette from https://colormagic.app/palette/68b4a013f32b0e3dc3e7440d */
/* Emerald Efficiency color palette from https://colormagic.app/palette/68f301dc7470129f5e4b011c */
/* Purple Quantum color palette from https://colormagic.app/palette/68f429537470129f5e4b0d3d */
/* Dark Blue Gray color palette from https://colormagic.app/palette/69014a7925c5fe1a94c39eea */
#KAN {
  margin: auto;
  text-align: left;
  background-color: #1d3a6d;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #KAN h1 {
    font-size: 5vw;
    color: #d6e4f5; }
  #KAN h2 {
    font-size: 3vw;
    color: #a4c8df; }
  #KAN h3 {
    font-size: 2vw;
    color: #7bb7d1; }
  #KAN a:link {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN a:visited {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN a:hover {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN a:active {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN p {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN ul li {
    font-size: 1vw;
    color: #4aa0c4; }
  #KAN button {
    border: 0.25vw solid #d6e4f5;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #d6e4f5;
    background-color: #1d3a6d;
    font-size: 1vw; }

#Cryptocurrency {
  margin: auto;
  text-align: left;
  background-color: #007a5e;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #Cryptocurrency h1 {
    font-size: 5vw;
    color: #e0f7fa; }
  #Cryptocurrency h2 {
    font-size: 3vw;
    color: #a1d9b0; }
  #Cryptocurrency h3 {
    font-size: 2vw;
    color: #a1d9b0; }
  #Cryptocurrency a:link {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency a:visited {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency a:hover {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency a:active {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency p {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency ul li {
    font-size: 1vw;
    color: #a1d9b0; }
  #Cryptocurrency table {
    border-collapse: collapse;
    border-color: #a1d9b0;
    border-style: solid; }
    #Cryptocurrency table tr {
      border-color: #a1d9b0; }
      #Cryptocurrency table tr th {
        border-color: #a1d9b0;
        color: #a1d9b0;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #Cryptocurrency table tr th a:link {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr th a:visited {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr th a:hover {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr th a:active {
          color: #a1d9b0;
          font-size: 1vw; }
      #Cryptocurrency table tr td {
        border-color: #a1d9b0;
        color: #a1d9b0;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #Cryptocurrency table tr td a:link {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr td a:visited {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr td a:hover {
          color: #a1d9b0;
          font-size: 1vw; }
        #Cryptocurrency table tr td a:active {
          color: #a1d9b0;
          font-size: 1vw; }
  #Cryptocurrency button {
    border: 0.25vw solid #e0f7fa;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #e0f7fa;
    background-color: #007a5e;
    font-size: 1vw; }

#FutureOfQuantum {
  margin: auto;
  text-align: left;
  background-color: #1e1f2a;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #FutureOfQuantum h1 {
    font-size: 5vw;
    color: #e5c3f9; }
  #FutureOfQuantum h2 {
    font-size: 3vw;
    color: #e5c3f9; }
  #FutureOfQuantum h3 {
    font-size: 2vw;
    color: #e5c3f9; }
  #FutureOfQuantum a:link {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum a:visited {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum a:hover {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum a:active {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum p {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum ul li {
    font-size: 1vw;
    color: #8d6ab9; }
  #FutureOfQuantum table {
    border-collapse: collapse;
    border-color: #8d6ab9;
    border-style: solid; }
    #FutureOfQuantum table tr {
      border-color: #8d6ab9; }
      #FutureOfQuantum table tr th {
        border-color: #8d6ab9;
        color: #8d6ab9;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #FutureOfQuantum table tr th a:link {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr th a:visited {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr th a:hover {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr th a:active {
          color: #8d6ab9;
          font-size: 1vw; }
      #FutureOfQuantum table tr td {
        border-color: #8d6ab9;
        color: #8d6ab9;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove;
        /* unvisited link */
        /* visited link */
        /* mouse over link */
        /* selected link */ }
        #FutureOfQuantum table tr td a:link {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr td a:visited {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr td a:hover {
          color: #8d6ab9;
          font-size: 1vw; }
        #FutureOfQuantum table tr td a:active {
          color: #8d6ab9;
          font-size: 1vw; }
  #FutureOfQuantum button {
    border: 0.25vw solid #e5c3f9;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #e5c3f9;
    background-color: #1e1f2a;
    font-size: 1vw; }

#AGI {
  margin: auto;
  text-align: left;
  background-color: #20203c;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #AGI h1 {
    font-size: 5vw;
    color: #ff5c5c; }
  #AGI h2 {
    font-size: 3vw;
    color: #c2c2d1; }
  #AGI h3 {
    font-size: 2vw;
    color: #c2c2d1; }
  #AGI a:link {
    font-size: 1vw;
    color: #7a7a99; }
  #AGI a:visited {
    font-size: 1vw;
    color: #7a7a99; }
  #AGI a:hover {
    font-size: 1vw;
    color: #7a7a99; }
  #AGI a:active {
    font-size: 1vw;
    color: #7a7a99; }
  #AGI p {
    font-size: 1vw;
    color: #7a7a99; }
  #AGI ul li {
    font-size: 1vw;
    color: #7a7a99; }
  #AGI dl {
    font-size: 1vw;
    color: #7a7a99; }
    #AGI dl dt {
      font-weight: bold;
      text-decoration: underline; }
    #AGI dl dd {
      margin: 0;
      padding: 0 0 2em 0; }
      #AGI dl dd ul li {
        font-size: 1vw;
        color: #7a7a99; }
  #AGI button {
    border: 0.25vw solid #ff5c5c;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #ff5c5c;
    background-color: #20203c;
    font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* Teal Shield color palette from https://colormagic.app/palette/690ad82aeebc052f2bce9d4a */
/* Blue Resources color palette from https://colormagic.app/palette/690ad9cceebc052f2bce9d54 */
/* Neon Dusk Serenity color palette from https://colormagic.app/palette/690adc39eebc052f2bce9d76 */
/* Shades of Blue color palette from https://colormagic.app/palette/690ade7beebc052f2bce9d86 */
#cybersecurityResources {
  margin: auto;
  text-align: left;
  background-color: #1f3a3d;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #cybersecurityResources h1 {
    color: #6ff1a1;
    font-size: 5vw; }
  #cybersecurityResources h2 {
    color: #4fbf8b;
    font-size: 3vw; }
  #cybersecurityResources h3 {
    color: #4fbf8b;
    font-size: 2vw; }
  #cybersecurityResources p {
    color: #3c7d80;
    font-size: 1vw; }
  #cybersecurityResources blockquote {
    color: #3c7d80;
    font-size: 1.5vw; }
  #cybersecurityResources a:link {
    color: #3c7d80;
    font-size: 1vw; }
  #cybersecurityResources a:visited {
    color: #3c7d80;
    font-size: 1vw; }
  #cybersecurityResources a:hover {
    color: #3c7d80;
    font-size: 1vw; }
  #cybersecurityResources a:active {
    color: #3c7d80;
    font-size: 1vw; }
  #cybersecurityResources ul li {
    color: #3c7d80;
    font-size: 1vw; }
  #cybersecurityResources table {
    border-collapse: collapse;
    border-color: #6ff1a1;
    border-style: solid; }
    #cybersecurityResources table tr {
      border-color: #4fbf8b; }
      #cybersecurityResources table tr th {
        border-color: #4fbf8b;
        color: #3c7d80;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #cybersecurityResources table tr td {
        border-color: #3c7d80;
        color: #3c7d80;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }
  #cybersecurityResources button {
    border: 0.25vw solid #6ff1a1;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #6ff1a1;
    background-color: #1f3a3d;
    font-size: 1vw; }

#artificialIntelligenceResources {
  margin: auto;
  text-align: left;
  background-color: #3f89c6;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #artificialIntelligenceResources h1 {
    color: #f6f8f6;
    font-size: 5vw; }
  #artificialIntelligenceResources h2 {
    color: #e7f8f3;
    font-size: 3vw; }
  #artificialIntelligenceResources h3 {
    color: #ade0e6;
    font-size: 2vw; }
  #artificialIntelligenceResources p {
    color: #ade0e6;
    font-size: 1vw; }
  #artificialIntelligenceResources blockquote {
    color: #ade0e6;
    font-size: 1.5vw; }
  #artificialIntelligenceResources a:link {
    color: #ade0e6;
    font-size: 1vw; }
  #artificialIntelligenceResources a:visited {
    color: #ade0e6;
    font-size: 1vw; }
  #artificialIntelligenceResources a:hover {
    color: #ade0e6;
    font-size: 1vw; }
  #artificialIntelligenceResources a:active {
    color: #ade0e6;
    font-size: 1vw; }
  #artificialIntelligenceResources ul li {
    color: #ade0e6;
    font-size: 1vw; }
  #artificialIntelligenceResources table {
    border-collapse: collapse;
    border-color: #ade0e6;
    border-style: solid; }
    #artificialIntelligenceResources table tr {
      border-color: #ade0e6; }
      #artificialIntelligenceResources table tr th {
        border-color: #ade0e6;
        color: #ade0e6;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #artificialIntelligenceResources table tr td {
        border-color: #ade0e6;
        color: #ade0e6;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }
  #artificialIntelligenceResources button {
    border: 0.25vw solid #f6f8f6;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #f6f8f6;
    background-color: #3f89c6;
    font-size: 1vw; }

#cppResources {
  margin: auto;
  text-align: left;
  background-color: #1f1b79;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #cppResources h1 {
    color: #f9c54e;
    font-size: 5vw; }
  #cppResources h2 {
    color: #d07e6c;
    font-size: 3vw; }
  #cppResources h3 {
    color: #8b5aba;
    font-size: 2vw; }
  #cppResources p {
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources blockquote {
    color: #8b5aba;
    font-size: 1.5vw; }
  #cppResources a:link {
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources a:visited {
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources a:hover {
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources a:active {
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources ul li {
    color: #8b5aba;
    font-size: 1vw; }
  #cppResources table {
    border-collapse: collapse;
    border-color: #8b5aba;
    border-style: solid; }
    #cppResources table tr {
      border-color: #8b5aba; }
      #cppResources table tr th {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #cppResources table tr td {
        border-color: #8b5aba;
        color: #8b5aba;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }
  #cppResources button {
    border: 0.25vw solid #f9c54e;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #f9c54e;
    background-color: #1f1b79;
    font-size: 1vw; }

#pythonResources {
  margin: auto;
  text-align: left;
  background-color: #1f3a61;
  width: 80%;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #pythonResources h1 {
    color: #f1f5f8;
    font-size: 5vw; }
  #pythonResources h2 {
    color: #c2d3e0;
    font-size: 3vw; }
  #pythonResources h3 {
    color: #85a4c1;
    font-size: 2vw; }
  #pythonResources p {
    color: #85a4c1;
    font-size: 1vw; }
  #pythonResources blockquote {
    color: #85a4c1;
    font-size: 1.5vw; }
  #pythonResources a:link {
    color: #85a4c1;
    font-size: 1vw; }
  #pythonResources a:visited {
    color: #85a4c1;
    font-size: 1vw; }
  #pythonResources a:hover {
    color: #85a4c1;
    font-size: 1vw; }
  #pythonResources a:active {
    color: #85a4c1;
    font-size: 1vw; }
  #pythonResources ul li {
    color: #85a4c1;
    font-size: 1vw; }
  #pythonResources table {
    border-collapse: collapse;
    border-color: #85a4c1;
    border-style: solid; }
    #pythonResources table tr {
      border-color: #85a4c1; }
      #pythonResources table tr th {
        border-color: #85a4c1;
        color: #85a4c1;
        font-size: 1vw;
        border-top-style: double;
        border-right-style: double;
        border-bottom-style: double;
        border-left-style: double; }
      #pythonResources table tr td {
        border-color: #85a4c1;
        color: #85a4c1;
        font-size: 1vw;
        border-top-style: groove;
        border-right-style: groove;
        border-bottom-style: groove;
        border-left-style: groove; }
  #pythonResources button {
    border: 0.25vw solid #f1f5f8;
    display: block;
    /* Ensures the button behaves as a block-level element */
    margin: 0 auto;
    /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: #f1f5f8;
    background-color: #1f3a61;
    font-size: 1vw; }

/* https://www.w3schools.com/Css/css_selectors.asp */
/* 80s Noir color palette from https://colormagic.app/palette/67297aeceb2f245fd531c036 */
/* Smart color palette from https://colormagic.app/palette/6723509a3e9d694408a440e1 */
/* can be compiled to css with `sass --trace ./assets/css/default.scss ./assets/css/default.css` */
html {
  scroll-behavior: smooth; }

header {
  text-align: center;
  background-color: #1a1a1e;
  font-family: "Courier New", monospace; }
  header h1 {
    color: #a0a0b0;
    font-size: 5vw; }
  header h2 {
    color: #a0a0b0;
    font-size: 3vw; }
  header h3 {
    color: #a0a0b0;
    font-size: 2vw; }
  header p {
    color: #6b6b70;
    font-size: 1vw; }
  header #pageMenu {
    background-color: #1a1a1e;
    font-size: 1vw; }
    header #pageMenu button {
      display: inline-block;
      border: 0.25vw solid #d4d4d9;
      color: #1a1a1e;
      margin: auto; }
  header #siteMenu {
    background-color: #1a1a1e;
    font-size: 1vw; }
    header #siteMenu button {
      display: inline-block;
      border: 0.25vw solid #d4d4d9;
      color: #1a1a1e;
      margin: auto; }

body {
  margin: auto;
  text-align: center;
  background-color: #3e3e41;
  font-family: "Courier New", monospace; }
  body h1 {
    color: #d4d4d9;
    font-size: 5vw; }
  body h2 {
    color: #d4d4d9;
    font-size: 3vw; }
  body h3 {
    color: #d4d4d9;
    font-size: 2vw; }
  body p {
    color: #a0a0b0;
    font-size: 1vw; }
  body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
    border: 1vw solid #1a1a1e;
    border-radius: 1%; }

footer {
  text-align: center;
  background-color: #1c1a3d; }
  footer #contactMe {
    font-family: "Courier New", monospace;
    /* unvisited link */
    /* visited link */
    /* mouse over link */
    /* selected link */ }
    footer #contactMe h1 {
      font-size: 5vw;
      color: #4a4e8c; }
    footer #contactMe h2 {
      font-size: 3vw;
      color: #8d7d9b; }
    footer #contactMe h3 {
      font-size: 2vw;
      color: #d1c3e9; }
    footer #contactMe address {
      color: #f1e0ff;
      font-size: 1vw; }
    footer #contactMe a:link {
      color: #f1e0ff;
      font-size: 1vw; }
    footer #contactMe a:visited {
      color: #d1c3e9;
      font-size: 1vw; }
    footer #contactMe a:hover {
      color: #f1e0ff;
      font-size: 1vw; }
    footer #contactMe a:active {
      color: #d1c3e9;
      font-size: 1vw; }
    footer #contactMe p {
      color: #f1e0ff;
      font-size: 1vw; }

/*# sourceMappingURL=default.css.map */
