@import "index";
@import "hobbies";
@import "tech_takes";
@import "tech_resources";

/* https://www.w3schools.com/Css/css_selectors.asp */

/* 80s Noir color palette from https://colormagic.app/palette/67297aeceb2f245fd531c036 */ 
$noir_1: #1a1a1e;
$noir_2: #3e3e41;
$noir_3: #6b6b70;
$noir_4: #a0a0b0;
$noir_5: #d4d4d9;

/* Smart color palette from https://colormagic.app/palette/6723509a3e9d694408a440e1 */
$smart_1: #1c1a3d; 
$smart_2: #4a4e8c; 
$smart_3: #8d7d9b; 
$smart_4: #d1c3e9; 
$smart_5: #f1e0ff;

/* can be compiled to css with `sass --trace ./assets/css/default.scss ./assets/css/default.css` */

html{
    scroll-behavior: smooth;
}

header {
    text-align: center;
    background-color: $noir_1;
    font-family: "Courier New", monospace;
    h1 {
        color: $noir_4;
        font-size: 5vw;
    }
    h2 {
        color: $noir_4;
        font-size: 3vw;
    }
    h3 {
        color: $noir_4;
        font-size: 2vw;
    }
    p {
        color: $noir_3;
        font-size: 1vw;
    }
    #pageMenu {
        background-color: $noir_1;
        font-size: 1vw;
        a {
            display: inline-block;
            border: 0.25vw solid $noir_5;
            color: $noir_5;
            margin:auto;
        }
    }
    #siteMenu {
        background-color: $noir_1;
        font-size: 1vw;
        a {
            display: inline-block;
            border: 0.25vw solid $noir_5;
            color: $noir_5;
            margin:auto;
        }
    }
}

body {
    margin: auto;
    text-align: center;
    background-color: $noir_2;
    font-family: "Courier New", monospace;
    h1 {
        color: $noir_5;
        font-size: 5vw;
    }
    h2 {
        color: $noir_5;
        font-size: 3vw;
    }
    h3 {
        color: $noir_5;
        font-size: 2vw;
    }
    p {
        color: $noir_4;
        font-size: 1vw;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        height: auto;
        border: 1vw solid $noir_1;
        border-radius: 1%;
    }
}

footer {
    text-align: center;
    background-color: $smart_1;
    #contactMe {
        font-family: "Courier New", monospace;
        h1 {
            font-size: 5vw;
            color: $smart_2;
        }
        h2 {
            font-size: 3vw;
            color: $smart_3;
        }
        h3 {
            font-size: 2vw;
            color: $smart_4;
        }
        address {
            color: $smart_5;
            font-size: 1vw;
        }
        /* unvisited link */
        a:link {
            color: $smart_5;
            font-size: 1vw;
        }
        /* visited link */
        a:visited {
            color: $smart_4;
            font-size: 1vw;
        }
        /* mouse over link */
        a:hover {
            color: $smart_5;
            font-size: 1vw;
        }
        /* selected link */
        a:active {
            color: $smart_4;
            font-size: 1vw;
        }
        p {
            color: $smart_5;
            font-size: 1vw;
        }
    }
}