/* Professional Blue color palette from https://colormagic.app/palette/69f2a139972c6bd335822170 */
$professional_blue_1: #4b91e2;
$professional_blue_2: #51b39f;
$professional_blue_3: #f1c40e;
$professional_blue_4: #e77e23;
$professional_blue_5: #bf3a2b;

#analyticsDiv {
    margin: auto;
    background-color: $professional_blue_5;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $professional_blue_1;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $professional_blue_2;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 200%;
    }
    h4 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 175%;
    }
    p {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $professional_blue_3;
            font-size: 100%;
        }
    }
}

#thirdPartyDiv {
    margin: auto;
    background-color: $professional_blue_5;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $professional_blue_1;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $professional_blue_2;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 200%;
    }
    h4 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 175%;
    }
    p {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $professional_blue_3;
            font-size: 100%;
        }
    }
}

#serviceWorkerDiv {
    margin: auto;
    background-color: $professional_blue_5;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $professional_blue_1;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $professional_blue_2;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 200%;
    }
    h4 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 175%;
    }
    p {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $professional_blue_3;
            font-size: 100%;
        }
    }
}

#verificationDiv {
    margin: auto;
    background-color: $professional_blue_5;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $professional_blue_1;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $professional_blue_2;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 200%;
    }
    h4 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 175%;
    }
    p {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $professional_blue_3;
            font-size: 100%;
        }
    }
}

#rightsDiv {
    margin: auto;
    background-color: $professional_blue_5;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $professional_blue_1;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $professional_blue_2;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 200%;
    }
    h4 {
        text-align: left;
        color: $professional_blue_3;
        font-size: 175%;
    }
    p {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $professional_blue_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $professional_blue_3;
            font-size: 100%;
        }
    }
}