/* https://www.w3schools.com/Css/css_selectors.asp */

// /* Teal Shield color palette from https://colormagic.app/palette/690ad82aeebc052f2bce9d4a */ 
// $teal_shield_1: #1f3a3d;
// $teal_shield_2: #2b5c5f;
// $teal_shield_3: #3c7d80;
// $teal_shield_4: #4fbf8b;
// $teal_shield_5: #6ff1a1;

// /* Blue Resources color palette from https://colormagic.app/palette/690ad9cceebc052f2bce9d54 */ 
// $blue_resources_1: #3f89c6;
// $blue_resources_2: #5bb9e1;
// $blue_resources_3: #ade0e6;
// $blue_resources_4: #e7f8f3;
// $blue_resources_5: #f6f8f6;

/* Neon Dusk Serenity color palette from https://colormagic.app/palette/690adc39eebc052f2bce9d76 */ 
$neon_dusk_serenity_1: #1f1b79;
$neon_dusk_serenity_2: #5c4091;
$neon_dusk_serenity_3: #8b5aba;
$neon_dusk_serenity_4: #d07e6c;
$neon_dusk_serenity_5: #f9c54e;

// /* Shades of Blue color palette from https://colormagic.app/palette/690ade7beebc052f2bce9d86 */ 
// $shades_of_blue_1: #1f3a61;
// $shades_of_blue_2: #4a6d8c;
// $shades_of_blue_3: #85a4c1;
// $shades_of_blue_4: #c2d3e0;
// $shades_of_blue_5: #f1f5f8;

#cybersecurityResources {
    margin: auto;
    background-color: $neon_dusk_serenity_1;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $neon_dusk_serenity_5;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $neon_dusk_serenity_4;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 200%;
    }
    p {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    blockquote {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 150%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $neon_dusk_serenity_3;
            font-size: 100%;
        }
    }
    table {
        text-align: left;
        border-collapse: collapse;
        border-color: $neon_dusk_serenity_3;
        border-style: solid;
        tr {
            border-color: $neon_dusk_serenity_3;
            th {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: double;
                border-right-style: double;
                border-bottom-style: double;
                border-left-style: double;
            }
            td {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: groove;
                border-right-style: groove;
                border-bottom-style: groove;
                border-left-style: groove;
            }
        }
    }
}

#cybersecurityResources.backToTop {
    width: 80%;
    text-align: center;
    display: block; /* Ensures the link to the top behaves as a block-level element */
    margin: 0 auto; /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: $neon_dusk_serenity_5;
    background-color: $neon_dusk_serenity_1;
    font-size: 100%;
}

#artificialIntelligenceResources {
    width: 80%;
    margin: auto;
    background-color: $neon_dusk_serenity_1;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $neon_dusk_serenity_5;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $neon_dusk_serenity_4;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 200%;
    }
    p {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    blockquote {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 150%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $neon_dusk_serenity_3;
            font-size: 100%;
        }
    }
    table {
        text-align: left;
        border-collapse: collapse;
        border-color: $neon_dusk_serenity_3;
        border-style: solid;
        tr {
            border-color: $neon_dusk_serenity_3;
            th {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: double;
                border-right-style: double;
                border-bottom-style: double;
                border-left-style: double;
            }
            td {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: groove;
                border-right-style: groove;
                border-bottom-style: groove;
                border-left-style: groove;
            }
        }
    }
}

#artificialIntelligenceResources.backToTop {
    width: 80%;
    text-align: center;
    display: block; /* Ensures the link to the top behaves as a block-level element */
    margin: 0 auto; /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: $neon_dusk_serenity_5;
    background-color: $neon_dusk_serenity_1;
    font-size: 100%;
}

#cppResources {
    margin: auto;
    background-color: $neon_dusk_serenity_1;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $neon_dusk_serenity_5;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $neon_dusk_serenity_4;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 200%;
    }
    p {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    blockquote {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 150%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $neon_dusk_serenity_3;
            font-size: 100%;
        }
    }
    table {
        text-align: left;
        border-collapse: collapse;
        border-color: $neon_dusk_serenity_3;
        border-style: solid;
        tr {
            border-color: $neon_dusk_serenity_3;
            th {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: double;
                border-right-style: double;
                border-bottom-style: double;
                border-left-style: double;
            }
            td {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: groove;
                border-right-style: groove;
                border-bottom-style: groove;
                border-left-style: groove;
            }
        }
    }
}

#cppResources.backToTop {
    width: 80%;
    text-align: center;
    display: block; /* Ensures the link to the top behaves as a block-level element */
    margin: 0 auto; /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: $neon_dusk_serenity_5;
    background-color: $neon_dusk_serenity_1;
    font-size: 100%;
}

#pythonResources {
    margin: auto;
    background-color: $neon_dusk_serenity_1;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $neon_dusk_serenity_5;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $neon_dusk_serenity_4;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 200%;
    }
    p {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    blockquote {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 150%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $neon_dusk_serenity_3;
            font-size: 100%;
        }
    }
    table {
        text-align: left;
        border-collapse: collapse;
        border-color: $neon_dusk_serenity_3;
        border-style: solid;
        tr {
            border-color: $neon_dusk_serenity_3;
            th {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: double;
                border-right-style: double;
                border-bottom-style: double;
                border-left-style: double;
            }
            td {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: groove;
                border-right-style: groove;
                border-bottom-style: groove;
                border-left-style: groove;
            }
        }
    }
}

#pythonResources.backToTop {
    width: 80%;
    text-align: center;
    display: block; /* Ensures the link to the top behaves as a block-level element */
    margin: 0 auto; /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: $neon_dusk_serenity_5;
    background-color: $neon_dusk_serenity_1;
    font-size: 100%;
}

#scriptingResources {
    margin: auto;
    background-color: $neon_dusk_serenity_1;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $neon_dusk_serenity_5;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $neon_dusk_serenity_4;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 200%;
    }
    p {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    blockquote {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 150%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $neon_dusk_serenity_3;
            font-size: 100%;
        }
    }
    table {
        text-align: left;
        border-collapse: collapse;
        border-color: $neon_dusk_serenity_3;
        border-style: solid;
        tr {
            border-color: $neon_dusk_serenity_3;
            th {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: double;
                border-right-style: double;
                border-bottom-style: double;
                border-left-style: double;
            }
            td {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: groove;
                border-right-style: groove;
                border-bottom-style: groove;
                border-left-style: groove;
            }
        }
    }
}

#scriptingResources.backToTop {
    width: 80%;
    text-align: center;
    display: block; /* Ensures the link to the top behaves as a block-level element */
    margin: 0 auto; /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: $neon_dusk_serenity_5;
    background-color: $neon_dusk_serenity_1;
    font-size: 100%;
}

#operatingSystemsResources {
    margin: auto;
    background-color: $neon_dusk_serenity_1;
    width: 80%;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    h1 {
        text-align: left;
        color: $neon_dusk_serenity_5;
        font-size: 500%;
    }
    h2 {
        text-align: left;
        color: $neon_dusk_serenity_4;
        font-size: 300%;
    }
    h3 {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 200%;
    }
    p {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    blockquote {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 150%;
    }
    /* unvisited link */
    a:link {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* visited link */
    a:visited {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* mouse over link */
    a:hover {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    /* selected link */
    a:active {
        text-align: left;
        color: $neon_dusk_serenity_3;
        font-size: 100%;
    }
    ul {
        text-align: left;
        li {
            color: $neon_dusk_serenity_3;
            font-size: 100%;
        }
    }
    table {
        text-align: left;
        border-collapse: collapse;
        border-color: $neon_dusk_serenity_3;
        border-style: solid;
        tr {
            border-color: $neon_dusk_serenity_3;
            th {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: double;
                border-right-style: double;
                border-bottom-style: double;
                border-left-style: double;
            }
            td {
                border-color: $neon_dusk_serenity_3;
                color: $neon_dusk_serenity_3;
                font-size: 100%;
                border-top-style: groove;
                border-right-style: groove;
                border-bottom-style: groove;
                border-left-style: groove;
            }
        }
    }
}

#operatingSystemsResources.backToTop {
    width: 80%;
    text-align: center;
    display: block; /* Ensures the link to the top behaves as a block-level element */
    margin: 0 auto; /* Sets top/bottom margin to 0 and left/right margin to auto, effectively centering it horizontally */
    color: $neon_dusk_serenity_5;
    background-color: $neon_dusk_serenity_1;
    font-size: 100%;
}

/*
 * Animation initial states — only applied when JS is active.
 * Elements start invisible; AnimeJS animates them into view.
 */
html.js-animations {
    #introSectionDiv,
    #cybersecurityResources,
    #artificialIntelligenceResources,
    #cppResources,
    #pythonResources,
    #scriptingResources,
    #operatingSystemsResources,
    #contactMe {
        > h1, > h2, > h3, > p, > ul, > svg, > table, > blockquote, > a, > address {
            opacity: 0;
        }
    }
}